body {
    background-color: #171717;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  body::-webkit-scrollbar {
    width: 0.5rem;
    border-radius: 20px;
  }
  
  body::-webkit-scrollbar-thumb {
    width: 0.5rem;
    background-color: #616161;
    border-radius: 20px;
  }
  body::-webkit-scrollbar-track {
    width: 0.5rem;
    background-color: transparent;
  }
  